#shotify-root * {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

#shotify-root {
    background-color: var(--primary-light);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 10px 10%;
}

.body-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    margin: 0 auto;
    flex-grow: 1;
    padding: 10px 1vw;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

#shotify-root .header {
    background-color: var(--header-bg);
    color: #ffffff;
    padding: 10px 1vw;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

#shotify-root .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#shotify-root .app-title a {
    text-decoration: none !important;
    font-size: 1.3rem;
    font-weight: 600;
}

#shotify-root .logo-shot {
    color: var(--header-text) !important;
}

#shotify-root .logo-ify {
    color: #195883 !important;
    transition: color 0.3s ease;
}

#shotify-root .nav-links a {
    color: var(--header-text) !important;
    text-decoration: none !important;
    font-weight: 500;
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 6px;
    transition: background-color 0.2s ease, color 0.2s ease,
        box-shadow 0.2s ease border-color 0.2s ease;
    display: inline-block;
}

#shotify-root .nav-links a:hover {
    background-color: rgba(214, 219, 220, 0.4) !important;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); /* subtle shadow */
    border-color: rgba(214, 219, 220, 0.9);
}

#shotify-root .content-card {
    background-color: transparent;
    border-radius: 6px;
    /* padding: 5px 10px; */
    flex-grow: 1;
}

#shotify-root .main-heading {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-dark);
    margin-bottom: 20px;
    margin: 0 auto;

    border-bottom: 2px solid var(--primary-accent);
    display: inline-block;
    width: fit-content;
}

#shotify-root .footer {
    background-color: var(--header-bg);
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid var(--border-color);
    font-size: 0.9rem;
    color: var(--header-text);
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.05);
}
