html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#shotify-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #003153;
    background-image: linear-gradient(315deg, #003153 0%, #1B1B1B 74%);
    padding: 20px;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 10px 10%;
}






