#shotify-root * {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

#shotify-root {
    background-color: #003366;
    background-image: linear-gradient(315deg, #003366 0%, #242124 74%);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 10px 10%;
}

.body-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-grow: 1;
    padding: 10px 1vw;
}





