@model BrandImageUrlParam;

<tr class="ui-state-default" data-id="@Model.Id">
    
    <td class="col-1">
        <span class="drag-handle">
            <svg fill="#636363" width="20" height="20" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
            <path d="M600 1440c132.36 0 240 107.64 240 240s-107.64 240-240 240-240-107.64-240-240 107.64-240 240-240Zm720 0c132.36 0 240 107.64 240 240s-107.64 240-240 240-240-107.64-240-240 107.64-240 240-240ZM600 720c132.36 0 240 107.64 240 240s-107.64 240-240 240-240-107.64-240-240 107.64-240 240-240Zm720 0c132.36 0 240 107.64 240 240s-107.64 240-240 240-240-107.64-240-240 107.64-240 240-240ZM600 0c132.36 0 240 107.64 240 240S732.36 480 600 480 360 372.36 360 240 467.64 0 600 0Zm720 0c132.36 0 240 107.64 240 240s-107.64 240-240 240-240-107.64-240-240S1187.64 0 1320 0Z" fill-rule="evenodd"/>
            </svg>
        </span>
    </td>
    
    <td class="col-1">
        <input asp-for="Name" class="form-control form-control-sm" />
        <span asp-validation-for="Name" class="text-danger small"></span>
    </td>
    <td class="col-2">
        <input asp-for="Description" class="form-control form-control-sm" />
    </td>
    <td class="col-1">
        <input asp-for="FixedValue" class="form-control form-control-sm" />
    </td>
    <td class="col-1 text-center">
        <input asp-for="IsKeepInUrl" class="form-check-input custom-checkbox" />
    </td>
    <td class="col-1">
        <input asp-for="PlaceholderInUrl" class="form-control form-control-sm" />
        <span asp-validation-for="PlaceholderInUrl" class="text-danger small"></span>
    </td>
    <td class="col-1 text-center">
        <input asp-for="IsAllLowerCase" class="form-check-input custom-checkbox" />
    </td>
    <td class="col-1 text-center">
        <input asp-for="IsAllUpperCase" class="form-check-input custom-checkbox" />
    </td>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Order, new { @class = "order-field" })
</tr>